@import "../public/css/style.min.css";
@import "../public/lib/owlcarousel/assets/owl.carousel.min.css";

@import url("../public/css/font.css");

html,
body {
  /* padding: 0;
  margin: 0; */
  font-family: "CormorantInfant", sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

.dancing-script-font {
  font-family: "DancingScript";
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(202, 11%, 86%);
  }
  100% {
    background-color: hsl(210, 18%, 96%);
  }
}

.skeleton-item {
  border-radius: 0.25rem;
}

.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
